<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="" method="post">
    {{ form.csrf_token() }} <br>
    {{ form.author.label }}{{ form.author }} <br>
    {{ form.book.label }}{{ form.book }} <br>
    {{ form.submit }} <br>

     {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}

</form>
    <ul>
        {% for author in authors  %}
        <li>{{ author.name }}<a href="/delete/delete_author/{{author.id}}">删除</a></li>
            <ul>
                {% for book in author.books %}
                    <li>
                    {{ book.name }}<a href="/delete/delete_book/{{ book.id }}">删除</a>
                    </li>

                {% endfor %}
            </ul>
        {% endfor %}
    </ul>

</body>
</html>